<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  

  <title>Les Amis de l'Escalade</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Les Amis de l'Escalade</a>
      <ul class="navbar-nav ml-left">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/spots}">Spots
              <span class="sr-only">(current)</span>
            </a>
          </li>
          </ul>
           <ul class="navbar-nav ml-left">
          <li class="nav-item active">
            <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Vous devez être connecté pour accéder à cet espace" th:href="@{/topos}">Topos
            </a>
          </li>
          </ul>
          <ul class="navbar-nav ml-left">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/rechercher-spot}">Trouver un Spot
            </a>
          </li>
          </ul>
      
		  <div class="btn-group" >
		  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		   Se connecter
		  </button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" th:href="@{/login}">Se connecter</a>
		    <a class="dropdown-item"  th:href="@{/registration}">S'inscrire</a>
		  </div>
    </div>
    
    </div> 
    
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">A la recherche d'un spot ?</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form th:action="@{/rechercher-spot}" method="get">
            <div class="form-row">
              <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Ça commence ici !</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-search-location m-auto text-primary"></i>
            </div>
            <h3>Trouvez un spot</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="far fa-comments m-auto text-primary"></i>
            </div>
            <h3>Echangez</h3>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
             <i class="fas fa-book ts m-auto text-primary"></i>
            </div>
            <h3>Réserver un topo</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Les derniers spots ajoutés</h2>
      <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
          </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
          </a>    
    </div>
     <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
          </a>
    </div>
   </div>
  </div>
  </section>


   <!-- Footer -->
  <div th:include="footer.html">
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script th:inline="javascript">
 <script th:inline="javascript">
 $(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
 </script>
</body>

</html>
