<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">
  
 <title>Espace Membre</title>
</head>

<body>
<div th:include="navbar.html"></div>
<div class="container">
	<h3 th:text= "${spotName}" ></h3>
	<hr>
	
       <a th:href="@{/spots}" class="btn btn-primary btn-sm mb-3">
		Retourner à la liste des spots
       </a>
	   <table class="table table-bordered table-striped">
	   <thead class="thead-dark">
		<tr>
			<th>Site</th>
			<th>Region</th>
			<th>Departement</th>
			<th>Nombre de voies</th>
			<th>Cotation</th>
			<th>Officiel de l'escalade</th>
			<th th:if="${not #lists.isEmpty(role)} and *{role.role} == 'ADMIN'">Action</th>	
		</tr>
		</thead>
		<tbody>
		<tr th:each= "spot: ${singleSpot}">
			<td th:text= "${spot.name}">
			<td th:text= "${spot.region}">
			<td th:text= "${spot.departement}">
			<td th:text= "${spot.track_number}">
			<td th:text="${spot.cotation}" >
			<td th:text= "non"  th:if="${spot.tag} == false" th:else= "oui">
			<td >
		    </td>
		</tbody>		
	</table>


	 	<table  class="table table-bordered table-striped">
		<thead class="thead-white">
		<tr>
			<th>Date</th>
			<th>Commentaire</th>
			<th>Auteur</th>
			<th th:if="${not #lists.isEmpty(role)} and *{role.role} == 'ADMIN'">Action</th>
		</tr>
     	</thead>
		<tbody>
		<tr th:each= "comment: ${comments}">
			<td th:text= "${comment.date} ">
			<td th:text= "${comment.comments}">
			<td th:text= "${comment.user?.name}">
			<td>
			 <form th:action="@{/commentaire/{id}(id=${comment.id})}" th:if="${not #lists.isEmpty(role)} and *{role.role} == 'ADMIN'" method="get">
                <button type="submit" class = "btn btn-primary btn-sm" >Modifier</button>
             </form>
			 <form th:action="@{/supprimer-commentaire/{id}(id=${comment.id})}" method="post" th:if="${not #lists.isEmpty(role)} and *{role.role} == 'ADMIN'" th:object="${comment}" >
	            <button type="submit" class = "btn btn-danger btn-sm" >Supprimer</button>
	            </form>
	         </td>
		</tbody>		
		</table>
		<div class="panel-heading" th:if="${#request.userPrincipal}" >
		<div th:if="${ #lists.isEmpty(comments)}"> 
			<span style="color:red" >Ce spot n'a pas encore de commentaire, soyez le premier à en laisser un !</span> 
		</div>
		<span style="color:green" th:text="${successMessage}"></span>
		<hr>
          <span>Commentaire</span>
       </div>
       <div class="panel-body"th:if="${#request.userPrincipal}">
       <form name='comment'  th:action="@{/afficher-un-spot{name}(name=${spotName})}" class="form-comments"enctype="utf8" method="post">
           <textarea class="form-control" th:required="required"  th:field="*{comment.comments}" placeholder="ajouter un commentaire..." rows="3"></textarea>
           <br>
           	
           <button class="btn btn-info pull-right">Enregistrer</button>
           <div class="clearfix"></div>
       </form>
       </div>
     
      </div>  


   <!-- Footer -->
	  <div th:include="footer.html"></div>
		</body>
</html>



