  <!-- Footer -->
 <meta charset="utf-8">
 <footer class="footer navbar-fixed-bottom bg-light">
       <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
         <ul class="list-inline mb-2">
           <li class="list-inline-item">
             <a href="#">A propos</a>
           </li>
           <li class="list-inline-item">&sdot;</li>
           <li class="list-inline-item">
             <a href="#">Nous contacter</a>
           </li>
           <li class="list-inline-item">&sdot;</li>
           <li class="list-inline-item">
             <a href="#">Conditions d'utilisation</a>
           </li>
           <li class="list-inline-item">&sdot;</li>
           <li class="list-inline-item">
             <a href="#">Mentions légales</a>
           </li>
         </ul>
         <p class="text-muted small mb-4 mb-lg-0">&copy; Les Amis de l'escalade 2020 - Tous droits réservés.</p>
       </div>
       <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
         <ul class="list-inline mb-0">
           <li class="list-inline-item mr-3">
             <a href="#">
               <i class="fab fa-facebook fa-2x fa-fw"></i>
             </a>
           </li>
           <li class="list-inline-item mr-3">
             <a href="#">
               <i class="fab fa-twitter-square fa-2x fa-fw"></i>
             </a>
           </li>
           <li class="list-inline-item">
             <a href="#">
               <i class="fab fa-instagram fa-2x fa-fw"></i>
             </a>
           </li>
         </ul>
       </div>
      <!-- Bootstrap core JavaScript -->
	  <script src="vendor/jquery/jquery.min.js"></script>
	  	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	 	<script th:inline="javascript">
		<script th:inline="javascript">
	 	$(function () {
		  $('[data-toggle="tooltip"]').tooltip()
		})
	 </script>
 </footer>