<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<title>Les Amis de l'Escalade - Topos</title>
</head>

<body>
  <div th:include="navbar.html">
  </div>
<div class="container ">
	<h3 >Topos disponibles</h3>

	<hr>

	<a th:href="@{/ajouter-un-topo}"
		class="btn btn-primary btn-sm mb-3">
		Ajouter un topo
	</a>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Titre</th>
				<th>Région</th>
				<th>Description</th>
				<th >Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="topo : ${AllTopos}"
      		 th:if="${topo.availability}">
				<td th:text="${topo.title}" />	
				<td th:text="${topo.region}" />	
				<td th:text="${topo.description}"/>
				<td >
					<a th:href="@{/topo/{id}(id=${topo.id})}"
					   class="btn btn-info btn-sm">
						Réserver
					</a>
				</td>
			</tr>
		</tbody>		
	</table>
 </div>
 <!-- Footer -->
<div th:include="footer.html"></div>
</body>
</html>



