<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Espace Membre</title>
</head>

<body>

<div class="container">

	<h3>Tous nos sites d'escalades</h3>
	<hr>
	
	<!--Add condition to redirect to index page if not connected-->
	<a th:href="@{/home}"
		class="btn btn-primary btn-sm mb-3">
		Revenir à l'accueil
	</a>
	<div th:if="${#request.userPrincipal}">	
		<a th:href="@{/ajouter-un-spot}"
			class="btn btn-primary btn-sm mb-3">
			Ajouter un spot
		</a>
	</div>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Nom</th>
				<th>Region</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="spot : ${AllSpots}">
				<td th:text="${spot.name}">
				<td th:text="${spot.region}">
				<td>
					<a th:href="@{/afficher-un-spot(name=${spot.name})}"
					   class="btn btn-info btn-sm">
						Afficher
					</a>
				</td>
		</tbody>		
	</table>
</div>

</body>
</html>



