<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  

  <title>Les Amis de l'Escalade - Espace Membre</title>
  

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">Les Amis de l'Escalade</a>
      <ul class="navbar-nav ml-left">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/spots}">Spots
              <span class="sr-only">(current)</span>
            </a>
          </li>
          </ul>
           <ul class="navbar-nav ml-left">
           
          <li class="nav-item active">

            <a class="nav-link" th:href="@{/topos}">Topos
            </a>
          </li>
        
          </ul>
          <ul class="navbar-nav ml-left">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/rechercher-spot}" >Trouver un Spot
            </a>
          </li>
          </ul>
      
     	<div class="btn-group" th:if="${currentUser.id != null}">
		  <button type="button" th:text="${currentUser.name}" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  </button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" th:href="@{/logout}"> Se déconnecter</a>
		    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      			<input hidden type="submit" value="Se déconnecter"/>
   			</form> 
		  </div>
   </div> 
  </div>
 </nav>
 
 <h3>Mon espace</h3>

	<a th:href="@{/ajouter-un-topo}"
		class="btn btn-primary btn-sm mb-3">
		Ajouter un topo
	</a>
	<a th:href="@{/}"
		class="btn btn-primary btn-sm mb-3">
		Mes demandes de réservation
	</a>
    <a th:href="@{/}"
		class="btn btn-primary btn-sm mb-3">
		Réservation en attente de retour
	</a>

	<hr>
	
<div class="col-7">
	<h4>Mes demandes de réservation</h4>
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
		<tr>
			<th>Topo</th>
			<th>Demandeur</th>
			<th>Date</th>
			<th>Statut</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="topo : ${AllTopos}" th:if="${topo.user.id} == ${currentUser.id} and ${topo.availability} == false ">
			<td th:text="${topo.title}" />	
			<td th:text="${topo.region}" />	
			<td th:text="${topo.description}" />
			<td>
			<div class="form-group" th:field="*{topo.availability}">
              <select class="form-control">
			      <option th:value= "1"       th:text="Acceptée"></option>
			      <option th:value= "0"   th:text="Refusée"></option>
			    </select>
			    </div>
			</td>
			<td>
				<a th:href="@{/}"
				   class="btn btn-info btn-sm">
					Enregistrer
				</a>
			</td>
		</tr>
	</tbody>		
 </table>
</div>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>

  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

