<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="jquery.fs.stepper.min.js"></script>
<head>
<meta charset="utf-8">
<title>Créer un spot - Les Amis de l'Escalade</title>
<link href="css/sign-up.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="jquery.fs.stepper.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Ajouter un spot</h5>
            <form name='spot' th:action="@{/ajouter-un-spot/enregistré}" class="form-signin"enctype="utf8" method="post">

             <label th:if="${#fields.hasErrors('spot.name')}" th:errors="*{spot.name}"class="validation-message"></label>
             <div class="form-label-group">
             	<input type="text" th:field="*{spot.name}" class="form-control" required autofocus>
             	<label for="inputSpotName">NOM</label>
             </div>
         
    		 <label th:if="${#fields.hasErrors('local.region')}" th:errors="*{local.region}"class="validation-message"></label>
             <div class="form-label-group">
             	<input type="text" th:field="*{local.region}" th:value="${local.region}" class="form-control"required autofocus>
             	<label for="inputRegion">REGION</label>
             </div>
              
             <label th:if="${#fields.hasErrors('local.departement')}" th:errors="*{local.departement}"class="validation-message"></label>
             <div class="form-label-group">
	           	<input type="text" th:field="*{local.departement}" class="form-control" required autofocus>
	           	<label for="inpuDepartement">DEPARTEMENT</label>
             </div>
  
		     <label th:if="${#fields.hasErrors('spot.height')}" th:errors="*{spot.height}"class="validation-message"></label>
             <div class="form-label-group">
              	<input type="number" th:value="${spot.height}" min="1" max="1000" step="1" th:field="*{spot.height}" class="form-control" />	
             	<label for="inputHeight">HAUTEUR (en mètre)</label>
             </div>
          
       <label th:if="${#fields.hasErrors('spot.cotation')}" th:errors="*{spot.cotation}"class="validation-message"></label>
       <div class="form-label-group">
       <div class="form-group">
    	<label for="inputCotation">COTATION</label>
	      <select class="form-control" th:field="*{spot.cotation}">
	      <option value="" hidden>-Choisir-</option>
	      <option th:value="4a"  th:text="4a"></option>
	      <option th:value="4b"  th:text="4b"></option>
	      <option th:value="4c"  th:text="4c"></option>
	      <option th:value="5a"  th:text="5a"></option>
	      <option th:value="5b"  th:text="5b"></option>
	      <option th:value="5c"  th:text="5c"></option>
	      <option th:value="6a"  th:text="6a"></option>
	      <option th:value="6b"  th:text="6b"></option>
	      <option th:value="6c"  th:text="6c"></option>
	      <option th:value="7a"  th:text="7a"></option>
	      <option th:value="7b"  th:text="7b"></option>
	      <option th:value="7c"  th:text="7c"></option>
	      <option th:value="8a"  th:text="8a"></option>
	      <option th:value="8b"  th:text="8b"></option>
	      <option th:value="8c"  th:text="8c"></option>
	      <option th:value="9a"  th:text="9a"></option>
	      <option th:value="9b"  th:text="9b"></option>
	      <option th:value="9c"  th:text="9c"></option>
    </select>
  </div>
 </div>

             <label th:if="${#fields.hasErrors('spot.track_number')}" th:errors="*{spot.track_number}"class="validation-message"></label>
             <div class="form-label-group">
              <input type="number" value="8" min="1" max="300" step="1" th:field="*{spot.track_number}" class="form-control" />
              <label for="inputTracks_number">NOMBRE DE VOIES</label>
             </div>
            
            <label th:if="${#fields.hasErrors('spot.tracks_pract')}" th:errors="*{spot.tracks_pract}"class="validation-message"></label>
             <div class="form-label-group">
             <div class="form-group">
              <label for="inputTracks_pract">PRATICABILITE</label>
              <select class="form-control" th:field="*{spot.tracks_pract}">
			      <option value="" disabled selected hidden >-Choisir-</option>
			      <option th:value="Familiale"  th:text="Familiale"></option>
			      <option th:value="Correct"    th:text="Correct"></option>
			      <option th:value="Escarpée"   th:text="Escarpée"></option>
			    </select>
			   </div>
             </div>
             
             <label th:if="${#fields.hasErrors('spot.climbingType')}" th:errors="*{spot.climbingType}"class="validation-message"></label>
             <div class="form-label-group">
             <div class="form-group">
              <label for="inputClimbing_type">TYPE D'ESCALADE</label>
              <select class="form-control" th:field="*{spot.climbingType}">
			      <option value="" disabled selected hidden >-Choisir-</option>
			      <option th:value="Bloc"  th:text="Bloc"></option>
			      <option th:value="Couenne"    th:text="Couenne"></option>
			    </select>
			   </div>
             </div>
             
               <label th:if="${#fields.hasErrors('spot.holdsType')}" th:errors="*{spot.holdsType}"class="validation-message"></label>
             <div class="form-label-group">
             <div class="form-group">
              <label for="inputHolds_type">TYPE DE PRISE</label>
              <select class="form-control" th:field="*{spot.holdsType}">
			      <option value="" disabled selected hidden >-Choisir-</option>
			      <option th:value="Trous"        th:text="Trous"></option>
			      <option th:value="Réglettes"    th:text="Réglettes"></option>
			      <option th:value="Colonettes"   th:text="Colonettes"></option>
			      <option th:value="Plats"        th:text="Plats"></option>
			    </select>
			   </div>
             </div>
             
             
 			 <hr>
             <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">SOUMETTRE CE SPOT</button>

          </form>
         </div>
        </div>
      </div>
    </div>
  </div>
 	<script>
	 $(document).ready(function() {
	 $("input[type='number']").stepper();
	 });
	</script>
	<script>
	
	$(document).ready(function() {
	$("input[type='number']").stepper({
	customClass: "", // Class applied to instance
	labels: {
	up: "Up", // Up arrow label
	down: "Down" // Down arrow label
	}
	});
	});
</script>
</body>
</html>