<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  

  <title>Les Amis de l'Escalade - Espace Membre</title>
  

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" th:href="@{/home}">Les Amis de l'Escalade</a>
      <ul class="navbar-nav ml-left">
          <li class="nav-item active">
              <a class="nav-link" th:href="@{/dashboard}">Mes Topos
              <span class="sr-only">(current)</span>
            </a>
          </li>
          </ul>

          <ul class="navbar-nav ml-left">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/ajouter-un-topo}">Ajouter un topo
            </a>
          </li>
          </ul>
          
          <ul class="navbar-nav ml-left">
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/demande-emprunt-topo}">Mes demandes d'emprunt
            </a>
          </li>
          </ul>
      
     	<div class="btn-group" th:if="${currentUser.id != null}">
		  <button type="button" th:text="${currentUser.name}" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  </button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" th:href="@{/logout}"> Se déconnecter</a>
		    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      			<input hidden type="submit" value="Se déconnecter"/>
   			</form> 
		  </div>
   		</div> 
  	 </div>
 </nav>
 
 <h3 th:if="*{role.role} == 'ADMIN'" th:text= "${role.role}"></h3>
 <h3 th:if="*{role.role} == 'USER'">Mon espace</h3>
	<hr>
	<div class="row justify-content-md-center">
    <div class="col-8">
    <h4 th:if="*{role.role} == 'ADMIN'" th:text= "Spots"></h4>
    <h4 th:if="*{role.role} == 'USER' and ${!#lists.isEmpty(TopoByUser)}" >Mes topos</h4>

	<table class="table table-bordered table-striped" th:if="*{role.role} == 'USER' and ${!#lists.isEmpty(TopoByUser)}">
	<thead class="thead-dark">
		<tr>
			<th>Titre</th>
			<th>Région</th>
			<th>Description</th>
			<th>Statut</th>
			<th>Action</th>
		</tr>
   </thead>
   <tbody>
   <tr th:each="topo : ${AllTopos}"  th:if="${topo.user.id} == ${currentUser.id}" >
	<td th:text="${topo.title}" />	
	<td th:text="${topo.region}" />	
	<td th:text="${topo.description}" />
	<td>
	<div th:switch="${topo.availability}"> 
	  <p th:case= false >Indisponible</p>
	  <p th:case= true>Disponible</p>
    </div>
	<td>
	<form th:action="@{/topo-modifier/{id}(id=${topo.id})}" th:if="*{role.role} == 'USER'" th:object="${spot}" method="get">
	  <button type="submit" class = "btn btn-primary btn-sm" >Modifier</button>
	</form>
	<form th:action="@{/supprimer/{id}(id=${topo.id})}" th:if="*{role.role} == 'USER'" th:object="${spot}" method="post">
	  <button type="submit" class = "btn btn-danger btn-sm" >Supprimer</button>
   </form>
 </td>
</tr>
</tbody>
</table>
</div>
</div>
<span style="color:green" th:text="${successMessage}"></span> 
<div class="row justify-content-md-center">
<div class="col-8">
<table class="table table-bordered table-striped"  th:if="*{role.role} == 'ADMIN'">
<thead class="thead-dark">
 <tr>
	<th>Nom</th>
	<th>Région</th>
	<th>Officiel Les amis de l'escalade</th>
	<th>Action</th>
 </tr>
</thead>
<tbody>
<tr th:each="spot : ${AllSpots}"  >
	<td th:text="${spot.name}" />	
	<td th:text="${spot.region}"/>
	<td>
	<div th:switch="${spot.tag}"> 
	  <p th:case= false >Non</p>
	  <p th:case= true>Oui</p>
	   </div>
	<td>
	<form th:action="@{/afficher-un-spot(name=${spot.name})}" th:if="*{role.role} == 'ADMIN'" th:object="${spot}" method="get">
	    <button type="submit" class = "btn btn-info btn-sm" >Voir</button>
	</form>
	<form th:action="@{/spot/{id}(id=${spot.id})}" th:if="*{role.role} == 'ADMIN'" th:object="${spot}" method="get">
	    <button type="submit" class = "btn btn-primary btn-sm" >Modifier</button>
	</form>
	<form th:action="@{/supprimer-spot/{id}(id=${spot.id})}" th:if="*{role.role} == 'ADMIN'" th:object="${spot}" method="post">
	    <button type="submit" class = "btn btn-danger btn-sm" >Supprimer</button>
   </form>
   </td>
  </tr>
</tbody>		
</table>
</div>

<div class="col-6">
<h4 th:if="*{role.role} == 'USER'">Topos réservés</h4>
 <table class="table table-bordered table-striped" th:if="*{role.role} == 'USER'" >
 <thead class="thead-dark">
	<tr>
		<th>Titre</th>
		<th>Région</th>
		<th>Description</th>
		<th>Demandeur</th>
		<th>Action</th>
	</tr>
</thead>
<tbody>
 	<tr th:each="topo : ${AllTopos}" th:if="${topo.user.id} == ${currentUser.id} and ${topo.availability} == false and ${topo.resa.status} == false" >
		<td th:text="${topo.title}" />	
		<td th:text="${topo.region}" />	
		<td th:text="${topo.description}"/>
		<td th:text="${topo.resa.user.name}"/>
		<td>
		<a th:href="@{/reservation(id=${topo.resa.id})}" 
		   class="btn btn-info btn-sm">
			Accepter
		</a>
		<a th:href="@{/refus-reservation/topo{id}(id=${topo.id})}"
		   class="btn btn-danger btn-sm">
			Refuser
		</a>
		</td>
	</tr>
</tbody>
</table>
<div th:if="${#lists.isEmpty(AllResa)} and *{role.role} == 'USER'">
   <!-- <span style="color:red"> Aucun topo n'a encore été réservé</span>  -->
</div>
</div>
</div>


<!-- Footer -->
<div th:include="footer.html"></div>
 <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>

